<ion-header [translucent]="true" *ngIf="title">
  <ion-toolbar>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<div id="logo_div">
  <ion-text color="medium">
    <img src="../../../assets/icon/ifinacas_logo.png" />
    <h3>iFinanças</h3>
  </ion-text>
</div>