<ion-content>

  <app-topo-login title="Cadastro de usuario"></app-topo-login>

  <form [formGroup]="registerForm" (submit)="createUser()">

  <ion-item>
    <ion-icon name="person" color="tertiary" slot="start"></ion-icon>
    <ion-input formControlName="nome"  type="text" placeholder="Nome"></ion-input>
  </ion-item>

  <ion-item>
    <ion-icon name="person" color="tertiary" slot="start"></ion-icon>
    <ion-input formControlName="snome"  type="text" placeholder="Sobre Nome"></ion-input>
  </ion-item>

  <ion-item>
    <ion-icon name="mail" color="tertiary" slot="start"></ion-icon>
    <ion-input formControlName="email"  type="email" placeholder="E-mail"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-icon name="lock-closed" color="tertiary" slot="start"></ion-icon>
    <ion-input formControlName="password" type="password" placeholder="****"></ion-input>
  </ion-item>

  <ion-item>
    <ion-icon name="lock-closed" color="tertiary" slot="start"></ion-icon>
    <ion-input formControlName="confirmPass" type="password" placeholder="****"></ion-input>
  </ion-item>


  <ion-button [disabled]="registerForm.invalid" type="submit" expand="block" color="primary" fill="clear">Enviar</ion-button>
</form>

</ion-content>

<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button [routerLink] = "['/auth']" fill="clear" color="medium">Voltar</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>