<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title (click)="logout()">
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

    <ion-item class="ion-padding">
      <ion-label>
        Mês
      </ion-label>
      <ion-datetime displayFormat="MM/YYYY" pickerFormat="MMMM YYYY" [(ngModel)]="date" (ngModelChange)="atualizarConta()"></ion-datetime>
    </ion-item>
    <br />


 <app-dash-card tipo="pagar" badgeValor={{conta.pagar.quantidade}} text={{conta.pagar.valor}} ></app-dash-card>
 <app-dash-card tipo="receber" badgeValor={{conta.receber.quantidade}} text={{conta.receber.valor}}></app-dash-card>
 <app-dash-card badgeValor={{conta.saldo.quantidade}} text={{conta.saldo.valor}} tipo="saldo" ></app-dash-card>




  <div id="btnMenu">
      <ion-button expand="block" [routerLink]="['/contas/cadastro']">Cadatro de contas</ion-button>
      <ion-button expand="block" [routerLink]="['/contas/pagar']">Contas a pagar</ion-button>
      <ion-button expand="block" [routerLink]="['/contas/receber']">Contas a receber</ion-button>
      <ion-button expand="block" [routerLink]="['/contas/relatorio']">Relatorio de contas</ion-button>
  </div>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>
      footer
    </ion-title>
  </ion-toolbar>
</ion-footer>
