<ion-header>
  <ion-toolbar>
    <ion-title>cadastro</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding"> <br/>

  <form [formGroup]="contasForm" (submit)="registra()">
  <ion-item>
    <ion-icon name="person" color="tertiary" slot="start"></ion-icon>
    <ion-input formControlName="parceiro"  type="text" placeholder="Parceiro comercial" autofocus="true"></ion-input>
  </ion-item>

  <ion-item>
    <ion-icon name="document" color="tertiary" slot="start"></ion-icon>
    <ion-input formControlName="descricao" type="text" placeholder="descrição da conta"></ion-input>
  </ion-item>

  <ion-item>
    <ion-icon name="wallet" color="tertiary" slot="start"></ion-icon>
    <ion-input formControlName="valor" type="number" placeholder="Valor"></ion-input>
  </ion-item>

  <ion-radio-group formControlName="tipo">
    <ion-item>
      <ion-label>Pagar</ion-label>
      <ion-radio slot="start" value="pagar"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Receber</ion-label>
      <ion-radio slot="start" value="receber"></ion-radio>
    </ion-item>
  </ion-radio-group>

  <ion-item class="ion-padding">
    <ion-label>
      Vencimento
    </ion-label>
    <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD MMMM YYYY" formControlName="date"></ion-datetime>
  </ion-item>



  <ion-button [disabled]="contasForm.invalid" type="submit" expand="block" color="primary" fill="clear">Enviar</ion-button>
</form>

</ion-content>
