<ion-card>
    <ion-item>
      <ion-icon name ="{{icon}}" slot="start"></ion-icon>
      <ion-label>{{title}}</ion-label>
    </ion-item>

    <ion-card-content>
      <ion-row>
        <ion-col size="2" *ngIf="badgeValor">
          <ion-badge color = "{{color}}"> {{badgeValor}}</ion-badge>
        </ion-col>
      <ion-col>
        <ion-text color="{{color}}"><p class="ion-text-center">{{text | currency: 'BRL': true}}</p></ion-text>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>