<ion-content>
  
  <app-topo-login title="Login"></app-topo-login>

  <form [formGroup]="loginForm" (submit)="login()">
  <ion-item>
    <ion-icon name="mail" color="tertiary" slot="start"></ion-icon>
    <ion-input formControlName="email"  type="email" placeholder="E-mail" autofocus="true"></ion-input>
  </ion-item>

  <ion-item>
    <ion-icon name="lock-closed" color="tertiary" slot="start"></ion-icon>
    <ion-input formControlName="password" type="password" placeholder="****"></ion-input>
  </ion-item>
  <ion-button [disabled]="loginForm.invalid" type="submit" expand="block" color="primary" fill="clear">Enviar</ion-button>
</form>

</ion-content>

<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button [routerLink] = "['/auth/forgot']" fill="clear" color="medium">Esqueci minha senha</ion-button>
    </ion-col>
    <ion-col>
      <ion-button [routerLink] = "['/auth/register']" fill="clear" color="medium">Criar usuario</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>