<ion-content class="ion-padding">
<app-topo-login title="Esqueci minha senha"></app-topo-login><br><br>

<form [formGroup]="forgotForm" (submit)="recoverPass()">

    <ion-item>
      <ion-icon name="mail" color="tertiary" slot="start"></ion-icon>
      <ion-input formControlName="email"  type="email" placeholder="E-mail" autofocus="true"></ion-input>
    </ion-item>

    <ion-button [disabled]="forgotForm.invalid" type="submit" expand="block" color="primary" fill="clear">Enviar</ion-button>
  </form><br><br>
</ion-content>
<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button [routerLink] = "['/auth']" fill="clear" color="medium">Voltar</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>